{% extends 'base.html' %}

{% block content %}

<div class="card-header text-center">
    <h1> Суворов Роман </h1>
    <p>Студент РГПУ им. Герцена, ИИТТО, ИВТ 2 курс</p>
    <p>Данное портфолио создано студентом РГПУ имени Герцена с целью размещения на нем информации о выполненных работах </p>

    <h3>Ссылка на профили replit с выполненными работами: </h3>
        <a href="/explanation">
            <button class="btn btn-primary"> Пояснение </button>
        </a>

        <a href="/prog">
            <button class="btn btn-primary"> ПРОГ4 </button>
        </a>
        
        <a href="/cw">
            <button class="btn btn-primary"> КП </button>
        </a><br><br>

        <a href="https://t.me/webbbsalad">
            <button class="btn btn-primary">Telegram</button>
        </a>

</div>

{% endblock %}
