p {
  padding-left: 40px;
  padding-top: 40px;
}
  
body {
  width: 100%;
  height: 100vh;
  background: white;
  position: relative;
  overflow: hidden; 
  animation-name: changeBackground;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes changeBackground {
  0% {
      background-image: url('../img/background1.png');
  }
  12.5% {
      background-image: url('../img/background2.png');
  }
  25% {
      background-image: url('../img/background3.png');
  }
  37.5% {
      background-image: url('../img/background4.png');
  }
  50% {
      background-image: url('../img/background5.png');
  }
  62.5% {
      background-image: url('../img/background6.png');
  }
  75% {
      background-image: url('../img/background7.png');
  }
  87.5% {
      background-image: url('../img/background8.png');
  }
  100% {
      background-image: url('../img/background9.png');
  }
}

body {
    background-position: center center;
    background-size: cover;
}
  
  .container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
  }
  
  .from-w{
      border-radius: 14px;
      border: 3px solid black;
      box-shadow: 0px 6px 20px rgb(0, 0, 0);
  }
  
  
  .submit-btn {
      text-align: center;
  }
  
  .card-body {
      margin: auto;
      justify-content: center;
      text-align: center;
      height: 100px;
  }
  
  .rotate {
    animation: spin 1s linear 1;
  }

  .copy-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-image: url("../img/copy.png");
    background-size: cover;
    width: 30px;
    height: 35px;
    border: none;
  }

  .copy-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .scrollable-list {
    max-height: 100px; 
    overflow-y: auto; 
}

.works-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  justify-content: space-between;
}

.works-item {
  flex-grow: 1;
  width: calc(30%-10px);
  margin: 20px;
  box-sizing: border-box;
  background-color: rgb(211, 228, 207);
  background-image: url("../img/doc.png");
  background-size: cover; 
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end; 
  overflow: hidden;
  position: relative; 
}

.content {
  color: rgb(0, 0, 0);  /
}

.works-item:hover{
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.works-item .text-container {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
}

.works-item img {
  max-width: 100%; 
}
  
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (min-width: 481px) {
      .card {
          max-width: 1000px;
          min-width: 700px;
      }
  }
  
  @media (max-width: 480px) {
      .card {
          max-width: 1000px;
      }
  }

  @media screen and (max-width: 768px) {
    .works-item {
      width: calc(50% - 10px);
    }
  }
  
  @media screen and (max-width: 480px) {
    .works-item {
      width: calc(100% - 10px);
    }
  }